<header class="header">
    <nav class="nav-theme">
        <div class="nav-wrapper container">
            <a href="{{ '/' | relative_url }}" class="brand-logo">{{ site.title }}</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#menu1">Menu 1</a></li>
                <li><a href="#menu2">Menu 2</a></li>
                <li><a href="#menu3">Menu 3</a></li>
                <li class="theme-switcher">
                    {% include theme-switcher.html %}
                </li>
            </ul>
        </div>
    </nav>
    <!-- Menu Responsivo -->
    <ul class="sidenav" id="mobile-nav">
        <li><a href="#menu1">Menu 1</a></li>
        <li><a href="#menu2">Menu 2</a></li>
        <li><a href="#menu3">Menu 3</a></li>
        <li class="theme-switcher-mobile center-align">
            {% include theme-switcher.html %}
        </li>
    </ul>
</header>